# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\yuanmaxuexi\spring-mvc-lu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
